.relative {
  position: relative;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.border {
  border: 1px solid;
}

.border-thick {
  border: 2px solid;
}

.container {
  padding: 16px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.gap {
  column-gap: 8px;
  row-gap: 8px;
}

.row-gap {
  row-gap: 8px;
}

.justify-around {
  justify-content: space-around;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  color: black;
  background-color: white;
}

.m-auto-0 {
  margin: auto 0;
}

.stream-output {
  min-width: 300px;
  min-height: 400px;
  height: 100svh;
  max-height: 60svh;
  overflow-y: hidden;
}

.scroll-to-bottom {
  scroll-padding-bottom: 0;
}

#scroller * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

.full {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.grid {
  display: grid;
}

.grid .rows-\[16px\] {
  grid-auto-rows: 16px;
}

.grid-gap-2 {
  gap: 2em;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.dot {
  display: inline-block;
  width: 16px;
  height: 16px
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}


@media (max-width: 400px) {
  .full {
    width: 90vw;
  }

  .stream-output {
    height: 100svh;
    max-height: 70svh;
  }
}

@media (min-width: 768px) {
  .stream-output {
    min-width: 400px;
  }
}

.grid-cols-18 {
  grid-template-columns: repeat(18, minmax(0, 1fr));
}


.color-1 {
  background: #802392;
}

.color-2 {
  background: #995FA3;
}

.color-3 {
  background: #9A98B5;
}

.color-4 {
  background: #A0B9C6;
}

.color-5 {
  background: #A5F8D3;
}

@media (prefers-color-scheme: light) {
  .color-1 {
    background: #DA5E46;
  }

  .color-2 {
    background: #FA9478;
  }

  .color-3 {
    background: #FEDEB8;
  }

  .color-4 {
    background: #4373B6;
  }

  .color-5 {
    background: #184382;
  }
}